<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heybees - Coockies</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/scroll-down.css" rel="stylesheet">
  
  </head>
  
  <body>

    <div id="wrap">
  
      <header class="masthead">
          <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="main-logo"><img src="img/logo-main.png"></a>
            </div>
            <div class="col-sm-6">
              <div class="pull-right hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>T</h3></a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>F</h3></a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>G</h3></a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>Login</h3></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Link</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Link</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Link</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Link</a></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
      </header>

      <div class="navbar navbar-default navbar-static-top" id="nav" role="navigation">
        <div class="container-fluid nav-padding">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Heybees</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#section1">Causes</a></li>
              <li><a href="#section2">Partner</a></li>
              <li><a href="#section3">Keiko</a></li>
              <li><a href="#section4">Investors</a></li>
              <li><a href="#section5">Heybees</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>-->
          </div>
        </div>
      </div>

		<div class="continer bg-4">
      		<div class="col-sm-10 col-sm-offset-1">
          		<div class="page-header text-center">
            		<h1>COOKIES POLICY</h1>
          		</div>
          
          		<p class="lead text-center">Heybees LLC.</p>

          		<p class="text-justify">
		            Credit

					This document was created using a Contractology template available at http://www.freenetlaw.com.

					About cookies

					This website uses cookies.  By using this website and agreeing to this policy, you consent to [NAME]'s use of cookies in accordance with the terms of this policy.

					Cookies are files sent by web servers to web browsers, and stored by the web browsers. 

					The information is then sent back to the server each time the browser requests a page from the server.  This enables a web server to identify and track web browsers. 

					There are two main kinds of cookies: session cookies and persistent cookies.  Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.

					Cookies on our website

					[NAME] uses the following cookies on this website, for the following purposes:

					[INSERT DETAILS]
					[INSERT DETAILS]
					[INSERT DETAILS]

					Google cookies

					[[NAME] uses Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store and use this information.  Google's privacy policy is available at: http://www.google.com/privacypolicy.html.]

					[[NAME] publishes Google Adsense interest-based advertisements on this website.  These are tailored by Google to reflect your interests.  To determine your interests, Google will track your behaviour across the web using cookies.  You can view, delete or add interest categories associated with your browser using Google's Ads Preference Manager, available at: http://www.google.com/ads/preferences/.  You can opt-out of the Adsense partner network cookie at: http://www.google.com/privacy_ads.html.  However, this opt-out mechanism uses a cookie, and if you clear the cookies from your browser your opt-out will not be maintained. To ensure that an opt-out is maintained in respect of a particular browser, you should use the Google browser plug-in available at: http://www.google.com/ads/preferences/plugin.]

					[Other] third party cookies

					When you use this website, you may also be sent the following third party cookies, which may be used for the following purposes:

					[INSERT DETAILS]
					[INSERT DETAILS]
					[INSERT DETAILS]

					Refusing cookies

					Most browsers allow you to refuse to accept cookies.  

					In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.  

					In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and “Privacy”.

					Blocking cookies will have a negative impact upon the usability of some websites.

					You must retain the "Credit" section in this document. If you wish to use the document without the "Credit" section (e.g. to project a more professional image) then you can get a license to do so here:

					http://www.contractology.com/precedents/freenetlaw-license-cookies-policy.html

					It is an infringement of our copyright to use the document without the "Credit" section and without paying the license fee.
          		</p>

        	</div>
      </div><!--/container-->
      


  
    </div>

    <div id="footer">
      <div class="container">
        <p>&copy; 2014 Heybees, LLC. &middot; <a href="privacy.html">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="#">Terms</a>&middot; <a href="#">Cookies</a>&middot; <a href="privacy.html">Privacy</a> &middot; <a href="contacts.html">Contact us</a></p>
      </div>
    </div>

    <ul class="nav pull-right scroll-top">
      <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>

    <!-- Bootstrap core JavaScript-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main2.js"></script>
  </body>
</html>