<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html lang="{{LANGUAGE_CODE}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="alexaVerifyID" content="e3QMlaFA1nDJ3gQG1nJsOQ3H2Sc" />
<meta name="description"
	content="Heybees la plataforma que ayuda a solucionar problematicas sociales con la ayuda">
<meta name="author" content="">

<title>Heybees</title> {% dajaxice_js_import %}

<!-- Knockout 3.1.0 -->
<script src="{{STATIC_URL}}knockout-3.1.0/knockout-3.1.0.js"></script>
<script src="{{STATIC_URL}}knockout-3.1.0/custom-bindings.js"></script>

<!-- Bootstrap core CSS -->
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>

</head>
<body>
	<div class="row">
		<div class="col-lg-2">
			<div class="panel panel-default">
				<!-- .panel-heading -->
				<div class="panel-body">
					<img src="{{STATIC_URL}}img/defaults/avatar_145x167.png" alt="..."
						class="img-rounded">
				</div>
				<!-- .panel-body -->
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<div class="col-lg-10">
			<div class="panel panel-default">
				<div class="panel-heading">Cuentanos que te gusta...</div>
				<!-- .panel-heading -->
				<div class="panel-body">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseOne">Causas que necesitan tu ayuda
										(Selecciona al menos 3) </a>
								</h4>
							</div>

							<div id="collapseOne" class="panel-collapse collapse in">
								<div id="divPreferencesViewModel" class="col-xs-12">
									<div class="panel-body" data-bind="foreach: causes">
										<div class="col-xs-12 col-sm-6 col-md-3">
											<div>
												<img data-bind="attr:{src: promotional_photo_src}, click: selectionCauses" alt="">
											</div>
											<span class="title-causes"
												data-bind="style: {backgroundColor: color}"
												id="color-cancer"> <label style="cursor: pointer"
												data-bind="text: name"></label>
											</span>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseTwo">Aliados que apoyan nuestras causas
										(Selecciona al menos 3)</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in">
								<div class="panel-body">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat. Duis aute irure dolor in reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa
									</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseThree">Embajadores que apoyan nuestras
										causas (Selecciona al menos 3)</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse in">
								<div class="panel-body">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat. Duis aute irure dolor in reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa
									.</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
</body>
<script
	src="{{STATIC_URL}}js/jquery/jquery-loadmask/jquery.loadmask.min.js"></script>
<!-- Customs scripts -->
<script src="{{STATIC_URL}}js/tools/image_tools.js"></script>
<script src="{{STATIC_URL}}js/tools/general.js"></script>
<script src="{{STATIC_URL}}js/models/cause.js"></script>
<script src="{{STATIC_URL}}js/viewmodels/vmPreferences.js"></script>
<script type="text/javascript">
	causeFindAll();
</script>

</html>